*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F4EDE6;
    font-family: Arial;
}

.pagina-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}

.Login{
    background-color: #034EA1;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}
#titulo-login{
    text-align: center;
    font-size: 45px;
    color: #FFF557;
    margin-bottom: 10px;
}

.Login input{
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

#btnLogin{
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #FFF557;
    color: #034EA1;
    font-weight: bold;
    cursor: pointer;
}

.cabecalho{
    background-color: #034EA1;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#nome{
    color: #FFF557;
}

.sub-cabecalho{
    background-color: #FFF557;
    padding: 10px 30px;

    display: flex;
    justify-content: space-between;
}
.menu p{
    display: inline;
    margin-right: 20px;
    color: #034EA1;
    font-weight: bold;
}
.contato{
    display: flex;
    align-items: center;
    gap: 10px;
}

#img-insta, #img-telefone{
    width: 30px;
}
.servicos{
    margin: 60px auto;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #034EA1;
    border-radius: 20px;
    width: 80%;
}

.img-pets{
    width: 250px;
}

.texto-servicos{
    color: white;
    max-width: 500px;
}

.item-servico{
    margin-bottom: 20px;
}

.item-servico h2{
    color: #FFF557;
}

.item-servico p{
    line-height: 1.5;
}

.agendar{
    margin: 60px auto;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    background-color: white;
    border-radius: 20px;
}

.agendar h2{
    text-align: center;
    color: #034EA1;
}

.campo{
    margin: 12px 0;
}

.campo label{
    display: block;
    margin-bottom: 5px;
    color: #034EA1;
    font-weight: bold;
}

.campo input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #034EA1;
}
.campo select{
    width: 523px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #034EA1;
}

.agendar button{
    width: 523px;
    padding: 12px;
    background-color: #034EA1;
    color: #FFF557;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#resultado{
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}

.sucesso{
    background-color: #ccffcc;
    color: #060;
}
.erro{
    background-color: #ffcccc;
    color: #900;
}


#rodape {
  background-color: #034EA1;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

#endereco {
  font-size: 20px;
  color: #FFF557;
  margin: 0;
}

#img-maps {
  width: 30px;
  height: auto;
  cursor: pointer;
}